<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Cult Cricket</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>


	<section class="home">
		<div class="row">
			<div class="col-2 sportselect cricket">
				<img src="assets/img/cricket.jpg">
				<div class="text">
					<h2>Cricket</h2>
				</div>
			</div>
			<div class="col-2 sportselect football">
				<img src="assets/img/football.jpg">
				<div class="text">
					<h2>Football</h2>
				</div>
			</div>
			<div class="col-2 sportselect hockey">
				<img src="assets/img/hockey.jpg">
				<div class="text">
					<h2>Hockey</h2>
				</div>
			</div>
			<div class="col-2 sportselect tennis">
				<img src="assets/img/tennis.jpg">
				<div class="text">
					<h2>Tennis</h2>
				</div>
			</div>
			<div class="col-2 sportselect basketball">
				<img src="assets/img/basketball.jpg">
				<div class="text">
					<h2>Basketball</h2>
				</div>
			</div>
		</div>
	</section>


	<section class="main contentPart cricket">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logo.png" alt="logo" class="logo">
					<h2> CRICKET DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of CRICKET.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT CRICKET about our launch events through email</em></p>
					</div>
					<p class="foot">Coming soon, by Cult moment Inc.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="main contentPart football">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logo.png" alt="logo" class="logo">
					<h2> CRICKET DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of CRICKET.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT CRICKET about our launch events through email</em></p>
					</div>
					<p class="foot">Coming soon, by Cult moment Inc.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="main contentPart hockey">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logo.png" alt="logo" class="logo">
					<h2> CRICKET DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of CRICKET.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT CRICKET about our launch events through email</em></p>
					</div>
					<p class="foot">Coming soon, by Cult moment Inc.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="main contentPart tennis">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logo.png" alt="logo" class="logo">
					<h2> CRICKET DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of CRICKET.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT CRICKET about our launch events through email</em></p>
					</div>
					<p class="foot">Coming soon, by Cult moment Inc.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="main contentPart basketball">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logo.png" alt="logo" class="logo">
					<h2> CRICKET DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of CRICKET.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT CRICKET about our launch events through email</em></p>
					</div>
					<p class="foot">Coming soon, by Cult moment Inc.</p>
				</div>
			</div>
		</div>
	</section>

	<div class="loader-box">
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		<lottie-player src="https://assets5.lottiefiles.com/packages/lf20_9Jggtr.json"  background="transparent"  speed="1"  loop  autoplay></lottie-player>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
	<script type="text/javascript">
		$(window).on('load', function(){
			$(".sportselect.cricket").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.cricket").addClass("active");
				}, 2000);
			});
			$(".sportselect.football").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.football").addClass("active");
				}, 2000);
			});
			$(".sportselect.hockey").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.hockey").addClass("active");
				}, 2000);
			});
			$(".sportselect.tennis").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.tennis").addClass("active");
				}, 2000);
			});
			$(".sportselect.basketball").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.basketball").addClass("active");
				}, 2000);
			});

			$(".back-menu").click(function(e){
				$(this).closest(".contentPart").removeClass("active");
				$(".loader-box").removeClass("active");
			});
		});
	</script>


</body>
</html>