<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Cult Cricket</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>


	<section class="home">
		<img src="assets/img/logos/CultMoments.png" class="momentslogo">
		<div class="row">
			<div class="col-2 sportselect cricket">
				<img src="assets/img/cricket.jpg">
				<div class="text">
					<h2>Cricket</h2>
				</div>
			</div>
			<div class="col-2 sportselect football">
				<img src="assets/img/football.jpg">
				<div class="text">
					<h2>Soccer</h2>
				</div>
			</div>
			<div class="col-2 sportselect baseball">
				<img src="assets/img/baseball.jpg">
				<div class="text">
					<h2>Baseball</h2>
				</div>
			</div>
			<!-- <div class="col-2 sportselect cycling">
				<img src="assets/img/cycling.jpg">
				<div class="text">
					<h2>Cycling</h2>
				</div>
			</div> -->
			<!-- <div class="col-2 sportselect racing">
				<img src="assets/img/racing.jpg">
				<div class="text">
					<h2>Racing</h2>
				</div>
			</div> -->
			<div class="col-2 sportselect rugby">
				<img src="assets/img/rugby.jpg">
				<div class="text">
					<h2>Rugby</h2>
				</div>
			</div>
			<!-- <div class="col-2 sportselect running">
				<img src="assets/img/running.jpg">
				<div class="text">
					<h2>Running</h2>
				</div>
			</div> -->
			<div class="col-2 sportselect tennis">
				<img src="assets/img/tennis.jpg">
				<div class="text">
					<h2>Tennis</h2>
				</div>
			</div>
			<div class="col-2 sportselect americanfootball">
				<img src="assets/img/americanfootball.jpg">
				<div class="text">
					<h2>Football</h2>
				</div>
			</div>
		</div>
	</section>


	<section class="main contentPart cricket">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logo.png" alt="logo" class="logo">
					<h2> DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of CRICKET.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT CRICKET about our launch events through email.</em></p>
					</div>
					<p class="foot">Coming soon by Cult Moments Inc.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="main contentPart football">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logos/soccer.png" alt="logo" class="logo">
					<h2> DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of SOCCER.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT SOCCER about our launch events through email.</em></p>
					</div>
					<p class="foot">Coming soon by Cult Moments Inc.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="main contentPart baseball">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logos/baseball.png" alt="logo" class="logo">
					<h2> DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of BASEBALL.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT BASEBALL about our launch events through email.</em></p>
					</div>
					<p class="foot">Coming soon by Cult Moments Inc.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- <section class="main contentPart cycling">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logos/cycling.png" alt="logo" class="logo">
					<h2> CYCLING DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of CYCLING.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT CYCLING about our launch events through email.</em></p>
					</div>
					<p class="foot">Coming soon by Cult Moments Inc.</p>
				</div>
			</div>
		</div>
	</section> -->

	<section class="main contentPart americanfootball">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logos/football.png" alt="logo" class="logo">
					<h2> DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of FOOTBALL.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT FOOTBALL about our launch events through email.</em></p>
					</div>
					<p class="foot">Coming soon by Cult Moments Inc.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- <section class="main contentPart racing">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logos/racing.png" alt="logo" class="logo">
					<h2> RACING DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of RACING.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT RACING about our launch events through email.</em></p>
					</div>
					<p class="foot">Coming soon by Cult Moments Inc.</p>
				</div>
			</div>
		</div>
	</section> -->

	<section class="main contentPart rugby">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logos/rugby.png" alt="logo" class="logo">
					<h2> DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of RUGBY.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT RUGBY about our launch events through email.</em></p>
					</div>
					<p class="foot">Coming soon by Cult Moments Inc.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- <section class="main contentPart running">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logos/running.png" alt="logo" class="logo">
					<h2> RUNNING DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of RUNNING.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT RUNNING about our launch events through email.</em></p>
					</div>
					<p class="foot">Coming soon by Cult Moments Inc.</p>
				</div>
			</div>
		</div>
	</section> -->

	<section class="main contentPart tennis">
		<div class="back-menu">
			<button><i class="fas fa-arrow-left"></i> Back</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<div class="content">
					<img src="assets/img/logos/tennis.png" alt="logo" class="logo">
					<h2> DIGITAL<br>COLLECTIBLES</h2>
					<p class="sub">Collect the best of TENNIS.<br> Buy, Sell, Trade, Collect.</p>
					<div class="formBox">
						<p><em>Register for early access</em></p>
						<form>
							<input type="email" name="email" placeholder="Email">
							<button>Sign up</button>
						</form>
						<p class="next"><em>By signing up, you agree that you would like to receive information <br>
						from CULT TENNIS about our launch events through email.</em></p>
					</div>
					<p class="foot">Coming soon by Cult Moments Inc.</p>
				</div>
			</div>
		</div>
	</section>

	<div class="loader-box">
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		<lottie-player src="https://assets9.lottiefiles.com/packages/lf20_r2ugagss.json"  background="transparent"  speed="1"  loop  autoplay></lottie-player>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
	<script type="text/javascript">
		$(window).on('load', function(){
			$(".sportselect.cricket").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.cricket").addClass("active");
				}, 2000);
			});
			$(".sportselect.football").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.football").addClass("active");
				}, 2000);
			});
			$(".sportselect.baseball").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.baseball").addClass("active");
				}, 2000);
			});
			$(".sportselect.cycling").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.cycling").addClass("active");
				}, 2000);
			});
			$(".sportselect.racing").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.racing").addClass("active");
				}, 2000);
			});
			$(".sportselect.rugby").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.rugby").addClass("active");
				}, 2000);
			});
			$(".sportselect.running").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.running").addClass("active");
				}, 2000);
			});
			$(".sportselect.tennis").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.tennis").addClass("active");
				}, 2000);
			});

			$(".sportselect.americanfootball").click(function(e){
				$(".loader-box").addClass("active");
				setTimeout(function() {
					$(".contentPart.americanfootball").addClass("active");
				}, 2000);
			});

			$(".back-menu").click(function(e){
				$(this).closest(".contentPart").removeClass("active");
				$(".loader-box").removeClass("active");
			});
		});
	</script>


</body>
</html>