@font-face {
	font-family: 'Shapiro-115-extd';
	src: url('../font/Shapiro/115plusextd.otf') 
		format('opentype');
}
@font-face {
	font-family: 'Shapiro-97airextd';
	src: url('../font/Shapiro/97airextd.otf') 
		format('opentype');
}
@font-face {
	font-family: 'Shapiro-95super';
	src: url('../font/Shapiro/95super.otf') 
		format('opentype');
}
@font-face {
	font-family: 'Shapiro-extd';
	src: url('../font/Shapiro/85superextd.otf') 
		format('opentype');
}
@font-face {
	font-family: 'Shapiro-lh';
	src: url('../font/Shapiro/lightheavy.otf') 
		format('opentype');
}
:root{
	--grey: #212127;
	--blue: #325eff;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Shapiro-lh';
}
h2,h3,h4,h5{
	font-family: 'Shapiro-extd';
}
.primary-btn{
	border: none;
	outline: none;
	padding: 16px 32px;
	background: var(--blue);
	font-size: 14px;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	transition: 0.4s;
}
.primary-btn:hover{
	opacity: 0.9;
}
.row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row;
	height: 100%;
	width: 100%;
}
.row .col-sm-6{
	width: 48%;
}
.row .col-sm-4{
	width: 32%
}
.row .col-sm-3{
	width: 24%;
}
header{
	width: 100%;
	height: 4rem;
	background: var(--grey);
	padding: 0px 10%;
	position: relative;
}
header .mobile-nav-links{
	display: none;
}
header nav{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 2.5px;
	position: relative;
	line-height: 12px;
}
header nav .menubar{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin-right: 10px;
	cursor: pointer;
	display: none;
}
header nav .menubar span{
	display: block;
	width: 60%;
	height: 2.5px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.5);
	margin: 5px 0px;
}
header nav .menubar span:nth-child(2){
	width: 80%;
}
header nav ul{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	list-style: none;
}
header nav ul li{
	margin-right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
	line-height: 4rem;
}
header nav a:before{
	content: "";
	position: absolute;
	bottom: -7px;
	left: 50%;
	transform: translateX(-50%);
	width: 0%;
	height: 4px;
	background: var(--blue);
	transition: 0.4s;
}
header nav a:hover:before{
	width: 100%;
	height: 1px;
}
header nav a.btn{
	padding: 11px 18px;
	font-size: 12px;
	background: var(--blue);
	font-weight: 500;
}
header nav .right-nav{
	transform: translateX(20px);
}
header nav .right-nav a:before{
	display: none;
}
header nav .left-nav{
	width:auto;
	display: flex;
	height: 100%;
	justify-content: centera;
	align-items: center;
}
header nav .logoBox{
	margin-right: 30px;
}
header nav .logoBox img{
	width: 120px;
}
header nav ul li .innernav{
	position: absolute;
	top: 4rem;
	left: 0;
	width: 100%;
	height: 450px;
	background: var(--grey);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding: 0px 10%;
	z-index: -5;
	opacity: 0;
	transition: 0.2s;
	transition-delay: 0.1s;
	display: none;
}
header nav ul li:hover .innernav{
	opacity: 1;
	z-index: 5;
	display: block;
}
header nav ul li .innernav .row{
	justify-content: flex-start;
}
header nav ul li .innernav .row .content{
	width: 100%;
}
header nav ul li .innernav .row .col-sm-3{
	margin-right: 20px;
	height: 100%;
	margin-top: 7%;
}
header nav ul li .innernav a:before{
	display: none;
}
header nav ul li .innernav .content p{
	margin-bottom: 10px;
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.75rem;
	font-family: arial;
	font-weight: 600;
}
header nav ul li .innernav .content div{
	background-size: cover;
	width: 105%;
	height: 260px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row;
	overflow: hidden;
}
header nav ul li .innernav .content div img{
	width: 80%;
	transition: 0.4s;
}
header nav ul li .innernav .content div:hover img{
	width: 85%;
}
header nav ul li .innernav .content h5{
	margin-top: 15px;
}

header nav ul li .innernav.marketplace .left a{
	width: 70%;
	padding: 3px;
	transition: 0.3s;
	font-size: 0.8rem;
}
header nav ul li .innernav.marketplace a.light{
	display: block;
	margin-bottom: 8px;
	margin-top: -5px;
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 0.7);
	font-size: 0.8rem;
	font-family: arial;
	font-weight: 600;
	text-transform: none;
}
header nav ul li .innernav.marketplace .content div img{
	width: 100%;
}
header nav ul li .innernav.marketplace .content div i.fa-play{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: #fff;
	font-size: 1.7rem;
}
header nav ul li .innernav.marketplace .content div img:hover{
	transform: scale(1.1);
}
header nav ul li .innernav.marketplace .left a:hover{
	background: rgba(255, 255, 255, 0.2);
}
header nav ul li .innernav .content div.team{
	width: 95%;
	height: 260px;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: row wrap;
}
header nav ul li .innernav .content div.team a:first-child{
	display: none;
}
header nav ul li .innernav .content div.team a{
	display: block;
	width: calc((100% / 6));

}
header nav ul li .innernav .content div.team img{
	display: block;
	width: 65%;
	object-fit: cover;
	transition: 0.2s;
}
header nav ul li .innernav .content div.team img:hover{
	transform: scale(1.1);
}
header nav ul li .innernav .content p.norm{
	color: #fff;
	text-transform: none;
	letter-spacing: 0.2px;
	font-size: 0.9rem;
	line-height: 1.3rem;
	padding-right: 70px;
}
header nav ul li .innernav .content a.btn{
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 1);
	display: block;
	width: 80%;
	text-align: center;
	transition: 0.4s;
	margin-top: 20px;
}
header nav ul li .innernav .content a.btn:hover{
	border: 2px solid rgba(255, 255, 255, 0.7);
}
header nav ul li .innernav .content a.btn2{
	margin-top: 30px;
}
header nav ul li .innernav.marketplace .content p{
	margin-bottom: 0px;
}
header nav ul li .innernav.marketplace .content .social-icons{
	width: 80%;
	height: auto;
	overflow: visible;
	transform: translateX(10px);
}
header nav ul li .innernav.marketplace .content .social-icons ul{
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
header nav ul li .innernav.marketplace .content .social-icons ul li{
	margin-right: 13px;
}
header nav ul li .innernav.marketplace .content .social-icons ul li a{
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 7px;
	border: 2px solid #fff;
	font-size: 1.1rem;
	margin: 0px;
}
header nav ul li .innernav.marketplace.help .content{
	width: 90%;
}
/* header css end */

.section1{
	width: 100%;
	height: 100vh;
	background-color: #000000;
	/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23ffffff' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='7.4' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg %3E%3Ccircle fill='%23ffffff' r='10'/%3E%3Cg transform='rotate(-63 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform=''%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(28.35 0 0)'%3E%3Cg transform=''%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform=''%3E%3Cg transform=''%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform=''%3E%3Cg transform='rotate(-28.35 0 0)'%3E%3Cg transform=''%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;*/
	padding: 0px 4% 0px 10%;
}
.section1 .row{
	justify-content: space-between;
}
.section1 .col-sm-6{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	transform: translateY(-4rem);
}
.section1 .col-sm-6 video{
	width: 80%;
}
.bg-dark{
	background: #000;
}
.section1 .bg-dark{
	width: 90%;
	padding: 20px;
	margin-bottom: 20px;
	transform: translateX(-20px);
}
.section1 h1{
	color: #fff;
	font-family: 'Shapiro-95super';
	font-weight: 500;
	font-size: 57px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.section1 p{
	font-size: 18px;
	color: #fff;
}
.section1 span{
	display: inline-block;
	font-size: 12px;
	color: #fff;
	margin-top: 30px;
}

.section2{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.section2 .rowBox{
	width: 80%;
	height: 220px;
	background: #000;
	border: 6px solid #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



















@media only screen and (max-width: 600px){
	header nav .links, header nav a.login-nav{
		display: none;
	}
	header{
		padding: 0px 10px;
		height: 3.5rem;
	}
	header nav .logoBox img{
		width: 120px;
	}
	header nav .right-nav{
		transform: translateX(0px);
	}
	header nav .right-nav a.btn{
		transform: translateX(20px);
	}
	header nav .menubar{
		display: block;
		width: 30px;
		height: 30px;
	}
	header .mobile-nav-links{
		display: block;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
		background: #000;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		transition: 0.5s;
	}
	header .mobile-nav-links.active{
		left: 0%;
	}
	header .mobile-nav-links .maincon{
		width: 90%;
		height: 100%;
		background: var(--grey);
	}
	header .mobile-nav-links .closeNav{
		width: 7%;
		height: 100%;
		position: relative;
	}
	header .mobile-nav-links .closeNav i{
		color: #fff;
		font-size: 1.3rem;
		position: absolute;
		top: 10px;
		left: 10px;
	}
	header .mobile-nav-links .maincon ul{
		flex-flow: column;
		color: #fff;
		transform: translateX(30px);
	}
	header .mobile-nav-links .maincon ul li{
		width: 80%;
		display: flex;
		justify-content: space-between;
		font-size: 1.2rem;
		letter-spacing: 1px;
	}
	header .mobile-nav-links .maincon ul span{
		font-family: 'Shapiro-extd';
		text-transform: uppercase;
	}
	header .mobile-nav-links .maincon ul li a{
		font-family: 'Shapiro-extd';
		font-size: 1.2rem;
	}
	header .mobile-nav-links .maincon ul a.btn{
		background: transparent;
		border: 2px solid rgba(255, 255, 255, 1);
		display: block;
		width: 80%;
		text-align: center;
		transition: 0.4s;
		margin-top: 20px;
		transform: translateX(-20px);
	}
	header .mobile-nav-links .maincon ul .social-icons ul{
		flex-flow: row;
		transform: translateX(-5px);
	}
	header .mobile-nav-links .maincon ul .social-icons ul li a{
		padding: 5px;
		border: 2px solid #fff;
	}

	header .mobile-nav-links .maincon .dropdown .drop-con{
		position: absolute;
		top: 0;
		left: -500px;
		width: 90%;
		height: 100vh;
		background: var(--grey);
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		padding-left: 20px;
		transition: 0.5s;
		z-index: 500;
	}
	/*header .mobile-nav-links .maincon .dropdown:hover .drop-con.active{
		left: 0px;
	}
	header .mobile-nav-links .maincon .dropdown .drop-con.active{
		left: 0px;
	}*/
	header .mobile-nav-links .maincon .dropdown{
		letter-spacing: 2px;
	}
	header .mobile-nav-links .maincon .dropdown .drop-con span a{
		font-family: 'Shapiro-lh';
		text-transform: capitalize;
		font-size: 1rem;
		margin: 0px;
	}
	header .mobile-nav-links .maincon .dropdown .drop-con .top{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		margin-top: 30px;
	}
	header .mobile-nav-links .maincon .dropdown .drop-con .top i{
		margin-right: 15px;
		opacity: 0.8;
	}
}
