<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <link rel="icon" type="images/png" href="images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/style.css" />
      
    <title>Skycam App</title>
  </head>
  <body>



<header class="header">
   <div class="navbar-area">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-12">
               <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand" href="index.html">
                  <img src="images/logo.png" alt="Logo" />
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                     <ul id="nav" class="navbar-nav ml-auto">
                        <li class="nav-item">
                           <a class="page-scroll" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="page-scroll" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                           <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                           <a class="page-scroll" href="#how">How It Works</a>
                        </li>
                        <li class="nav-item">
                           <a class="page-scroll" href="#testimonial">Testimonials</a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
         </div>
      </div>
   </div>
</header>



<section  class="section-one">
  <div class="hero-shape">
  <img src="images/hero-shape.svg" alt="" class="shape">
  </div>
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6">
            <div class="hero-content">
               <h1 class="wow fadeInUp" data-wow-delay=".2s">Experience The Advanced <span>Version Of Clicking & Sharing</span> </h1>
               <p class="wow fadeInUp" data-wow-delay=".4s">
                  Sharing memories with your friends is much more easier now. Download the Skycam App, click the picture and upload it in the desired album.
               </p>
               <a href="javascript:" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Download the app now</a>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
               <img src="images/hero-img.svg" alt="">
            </div>
         </div>
      </div>
   </div>
</section>

<!-- service-section -->

<section  class="service-section pt-150">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-xl-6 col-lg-8">
            <div class="section-title text-center mb-70">
               <span class="wow fadeInUp" data-wow-delay=".2s">Top Features</span>
               <p class="wow fadeInUp" data-wow-delay=".4s">Here is the glimse of all the premium features<br> that the Skycam App provides to its users.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-6">
            <div class="single-service wow fadeInUp" data-wow-delay=".2s">
               <div class="icon">
                  <img src="images/service-icon-1.svg" alt="">
               </div>
               <div class="content">
                  <h3>Capture Moments</h3>
                  <p>Click photos as well as videos with the camera to capture the moments and save them to the desired album then and there.</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="single-service wow fadeInUp" data-wow-delay=".4s">
               <div class="icon">
                  <img src="images/service-icon-2.svg" alt="">
               </div>
               <div class="content">
                  <h3>Customized Gallery For Your Phone</h3>
                  <p>Create distinctive albums on the app and save the media on the desired one.</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="single-service wow fadeInUp" data-wow-delay=".6s">
               <div class="icon">
                  <img src="images/service-icon-3.svg" alt="">
               </div>
               <div class="content">
                  <h3>No Internet Required</h3>
                  <p>No matter what is location is, share anytime anywhere. This app requires no network and internet connection. </p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="single-service wow fadeInUp" data-wow-delay=".2s">
               <div class="icon">
                  <img src="images/service-icon-4.svg" alt="">
               </div>
               <div class="content">
                  <h3>Time-Effective Share</h3>
                  <p>Share the picture the moment its clicked. No need to share them seperately, now you can just save the picture on the app and share immediately.</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="single-service wow fadeInUp" data-wow-delay=".4s">
               <div class="icon">
                  <img src="images/service-icon-5.svg" alt="">
               </div>
               <div class="content">
                  <h3>Smarter Camera</h3>
                  <p>Apply filters, various scene modes, coloreffects, exposure compensation,HD effects, and much more.</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="single-service wow fadeInUp" data-wow-delay=".6s">
               <div class="icon">
                  <img src="images/service-icon-6.svg" alt="">
               </div>
               <div class="content">
                  <h3>Supports Android System</h3>
                  <p>The app supports android system and is easliy available for download.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<!-- about-section -->


<section  class="about-section pt-150">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="about-img wow fadeInUp" data-wow-delay=".5s">
               <img src="images/about-img.svg" alt="">
            </div>
         </div>
         <div class="col-lg-6">
            <div class="about-content">
               <div class="section-title">
                  <span class="wow fadeInUp" data-wow-delay=".2s">About The App</span>
                  <h1 class="wow fadeInUp" data-wow-delay=".4s">Download the Skycam app and get started with it in just a few clicks.</h1>
                  <p class="wow fadeInUp" data-wow-delay=".6s">Skycam app eliminates the hassle of sharing the pictures and videos. This clicking and sharing app is just the perfect solution to save all the memories in a seperate folder that can be accessed by all.</p>
               </div>
               <!-- <div class="rating-meta d-flex align-items-center wow fadeInUp" data-wow-delay=".65s">
                  <h5>Rating 4.8</h5>
                  <div class="rating">
                     <i class="lni lni-star-filled"></i>
                     <i class="lni lni-star-filled"></i>
                     <i class="lni lni-star-filled"></i>
                     <i class="lni lni-star-filled"></i>
                     <i class="lni lni-star-filled"></i>
                  </div>
               </div> -->
               <div class="counter-up wow fadeInUp" data-wow-delay=".8s">
                  <div class="single-counter">
                     <h3 id="secondo1" class="countup" cup-end="1" cup-append="M+">1 </h3>
                     <h5>Download</h5>
                  </div>
                  <div class="single-counter position-relative">
                     <h3 id="secondo2" class="countup" cup-end="234" cup-append="K+">234 </h3>
                     <h5>Happy User</h5>
                  </div>
                  <div class="single-counter">
                     <h3 id="secondo3" class="countup" cup-end="34" cup-append="K+">34 </h3>
                     <h5>Reviews</h5>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<!-- delivery-section -->


<section  class="delivery-section pt-150">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-5">
            <div class="delivery-content">
               <div class="section-title">
                  <span class="wow fadeInUp" data-wow-delay=".2s">How It Works</span>
                  <h1 class="mb-35 wow fadeInUp" data-wow-delay=".4s">Share your memories the moment they are created.</h1>
                  <p class="mb-35 wow fadeInUp" data-wow-delay=".6s">Skycam app allows you to click picture with the in-built camera. After the moment is captured, it gives the user an option to save the picture in the relevant folder, which further can be viewed by all the other friends who have the same app downloaded on their smartphones and have the aceess to the folder.</p>
               </div>
            </div>
         </div>
         <div class="col-lg-7 order-first order-lg-last">
            <div class="delivery-img wow fadeInUp" data-wow-delay=".5s">
               <img src="images/delivery-img.svg" alt="">
            </div>
         </div>
      </div>
   </div>
</section>
<section id="received" class="about-section received-section pt-150">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6">
            <div class="about-img received-img wow fadeInUp" data-wow-delay=".5s">
               <img src="images/received-img.svg" alt="">
            </div>
         </div>
         <div class="col-lg-6">
            <div class="about-content received-content">
               <div class="section-title">
                  <span class="wow fadeInUp" data-wow-delay=".2s">Why It's Worth Downloading</span>
                  <h1 class="mb-25 wow fadeInUp" data-wow-delay=".4s">Updated version that enables click and share on a single platform</h1>
                  <p class="wow fadeInUp" data-wow-delay=".6s">Lets agree the fact that we all put the photographer in the spot to transer all the captured media to us , which is undoubtedly a troublesome task. Shycam app reduces this fuss and allows the person to save the picture directly on the app once its clicked.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<!-- testimonial -->

<section  class="testimonial-section img-bg pt-150 pb-40">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-6">
            <div class="section-title mb-60 text-center">
               <span class="wow fadeInUp" data-wow-delay=".2s">Testimonials</span>
               <h1 class="wow fadeInUp" data-wow-delay=".4s">What Our Users Says</h1>
            </div>
         </div>
      </div>
      <div class="row testimonial-wrapper">
         <div class="col-lg-4 col-md-6 -mt-30">
            <div class="single-testimonial wow fadeInUp" data-wow-delay=".2s">
               <div class="rating">
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
               </div>
               <div class="content">
                  <p>Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
               </div>
               <div class="info">
                  <div class="image">
                     <img src="images/testimonial-1.png" alt="">
                  </div>
                  <div class="text">
                     <h5>Ena Shah</h5>
                     <p>Teacher at Abc School</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 -mt-60">
            <div class="single-testimonial wow fadeInUp" data-wow-delay=".4s">
               <div class="rating">
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
               </div>
               <div class="content">
                  <p>Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
               </div>
               <div class="info">
                  <div class="image">
                     <img src="images/testimonial-1.png" alt="">
                  </div>
                  <div class="text">
                     <h5>Mrs. Gosh</h5>
                     <p>Actor</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="single-testimonial wow fadeInUp" data-wow-delay=".6s">
               <div class="rating">
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
               </div>
               <div class="content">
                  <p>Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
               </div>
               <div class="info">
                  <div class="image">
                     <img src="images/testimonial-1.png" alt="">
                  </div>
                  <div class="text">
                     <h5>John Doe</h5>
                     <p>Model</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 -mt-30">
            <div class="single-testimonial wow fadeInUp" data-wow-delay=".2s">
               <div class="rating">
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
               </div>
               <div class="content">
                  <p>Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
               </div>
               <div class="info">
                  <div class="image">
                     <img src="images/testimonial-1.png" alt="">
                  </div>
                  <div class="text">
                     <h5>Jonathan Smith</h5>
                     <p>Creative Designer</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 -mt-60">
            <div class="single-testimonial wow fadeInUp" data-wow-delay=".4s">
               <div class="rating">
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
               </div>
               <div class="content">
                  <p>Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
               </div>
               <div class="info">
                  <div class="image">
                     <img src="images/testimonial-1.png" alt="">
                  </div>
                  <div class="text">
                     <h5>Sara A. K.</h5>
                     <p>Heroine</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="single-testimonial wow fadeInUp" data-wow-delay=".6s">
               <div class="rating">
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
                  <i class="lni lni-star-filled"></i>
               </div>
               <div class="content">
                  <p>Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
               </div>
               <div class="info">
                  <div class="image">
                     <img src="images/testimonial-1.png" alt="">
                  </div>
                  <div class="text">
                     <h5>David Smith</h5>
                     <p>Businessman</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>





<footer  class="footer pt-100 pb-70">
  <div class="footer-shape">
    <img src="images/footer-left.svg" alt="" class="shape shape-1">
    <img src="images/footer-right.svg" alt="" class="shape shape-2">
  </div>
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
               <div class="logo">
                  <a href="index.html"><img src="images/logo2.png" alt="logo"></a>
               </div>
               <div class="download-btns">
                  <a href="javascript:">
                  <span class="icon"><i class="lni lni-apple"></i></span>
                  <span class="text">Download on the <b>App Store</b> </span>
                  </a>
                  <a href="javascript:">
                  <span class="icon"><i class="lni lni-play-store"></i></span>
                  <span class="text">GET IT ON <b>Play Store</b> </span>
                  </a>
               </div>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
               <h3>About Us</h3>
               <ul class="links">
                  <li>
                     <a href="javascript:">Home</a>
                  </li>
                  <li>
                     <a href="javascript:">Services</a>
                  </li>
                  <li>
                     <a href="javascript:">About Us</a>
                  </li>
                  <li>
                     <a href="javascript:">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".6s">
               <h3>About</h3>
               <ul class="links">
                  <li>
                     <a href="javascript:">Partners</a>
                  </li>
                  <li>
                     <a href="javascript:">Terms of Service</a>
                  </li>
                  <li>
                     <a href="javascript:">Privacy Policy</a>
                  </li>
                  <li>
                     <a href="javascript:">Refund Policy</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".8s">
               <h3>Support</h3>
               <ul class="links">
                  <li>
                     <a href="javascript:">Open Ticket</a>
                  </li>
                  <li>
                     <a href="javascript:">Community</a>
                  </li>
                  <li>
                     <a href="javascript:">Return Policy</a>
                  </li>
                  <li>
                     <a href="javascript:">Accessibility</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</footer>









    <!-- JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/count-up.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/developer.js"></script>

<script>
   new WOW().init();
</script>

  </body>
</html>