<!DOCTYPE html>
<html  dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="description" content="oildrop">
<meta name="keywords" content="oildrop">
<meta name="author" content="oildrop">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Nexus Water</title>
<link rel="shortcut icon" href="" type="image/x-icon">
<!-- External CSS -->
<link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/styles.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" media="all">

<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
</head>

<body>

   

  <!-- Header -->
  <header class="oildrop-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-8">
          <a href="index.html" class="oildrop-brand">
            <img src="assets/images/logo.png" alt="Oil Drop">
          </a>
        </div>
        <div class="col-xl-9 col-4">
          <div class="header-right">
            <div class="header-wrap">              
              <a href="javascript:void(0);" class="oildrop-toggle d-xl-none"><span></span></a>
              <nav class="oildrop-navigation">
                <a href="index.html" class="oildrop-logo d-xl-none">
                  <img src="assets/images/logo.png" alt="Oil Drop">
                </a>
                <a href="#0" class="close-icon d-xl-none">
                  <span></span>
                </a>
                <ul>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Services">Services</span></span></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="sub-menu">
                      <li>
                        <a href="Asset Management For Water.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Asset Management for Water">Asset Management for Water</span></span></a>
                      </li>
                      <li>
                        <a href="Hydraulic and Hydrological Modelling.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Hydraulic and Hydrological Modelling">Hydraulic and Hydrological Modelling</span></span></a>
                      </li>
                      <li>
                        <a href="Water Supply And Distribution.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Water Supply and Distribution">Water Supply and Distribution</span></span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="portfolio.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Projects">Projects</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="about.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="About Us">About Us</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Our Blog">Our Blog</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Contact">Contact</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Get A Quote">Get A Quote</span></span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Title -->
  <section class="page-title">
    <div class="container">
      <h2>Short loin shankle meatball tongue spare ribs rump</h2>
    </div>
  </section>

  <!-- Blog Details -->
  <section class="blog-details default-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-8">
          <div class="post-media">
            <iframe src="https://www.youtube.com/embed/29g8yYMgE3c?feature=oembed&amp;modestbranding=0&amp;showinfo=0&amp;rel=0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-aspectratio="0.75" ></iframe>
          </div>          
          <div class="blog-content">
            <div class="page-title-wrapper">
              <div class="before-title">
                <span class="posted-on">
                  <a href="#0">
                    <time class="entry-date published updated" datetime="2016-12-23T12:18:45+00:00">December 23, 2016</time>
                  </a>
                </span>
                <a href="#0">International Trade</a>
              </div>
            </div>
            <div class="post-controls">
              <div class="pctrl-social-btn pctrl-left">
                <i class="fa fa-share"></i>
              </div>
              <div class="pctrl-social pctrl-left">
                <div class="share-this">
                  <ul class="share-icons">
                    <!-- twitter -->
                    <li>
                      <a href="#0"><i class="fa fa-twitter"></i></a>
                    </li>
                    <!-- facebook -->
                    <li>
                      <a href="#0"><i class="fa fa-facebook"></i></a>
                    </li>
                    <!-- google plus -->
                    <li>
                      <a href="#0"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <!-- pinterest -->
                    <li>
                      <a href="#0"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <!-- linkedin -->
                    <li>
                      <a href="#0"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="pctrl-like-btn pctrl-left">
                <span><i class="fa fa-heart"></i></span>
              </div>
              <div class="pctrl-like pctrl-left">
                <div><span class="votes_count_227">2</span> like</div>
              </div>
              <div class="pctrl-view pctrl-right">
                <div>
                  <p class="bawpvc-ajax-counter">(167)</p>
                </div>
              </div>
            </div>
            <p>Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail pork chop pork loin, shankle pancetta hock pork. Pork chop turkey hamburger prosciutto, strip steak kielbasa drumstick ground round flank cupim. Meatloaf pancetta turducken picanha spare.</p>
            <p>Chicken salami excepteur chuck, voluptate qui spare ribs ullamco leberkas. Commodo elit non pork chop, pork ipsum swine dolore sirloin est. Meatball chuck tri-tip, prosciutto shankle swine chicken spare ribs pork chop in tempor fugiat salami. Voluptate boudin pork pastrami short loin hamburger labore, in magna commodo beef ribs sausage.</p>
            <blockquote><p>Landjaeger sed occaecat lorem est pork loin. Ham hock salami do, pork loin in biltong nulla aliquip picanha fatback short loin. Alcatra ipsum pig excepteur qui sint tenderloin dolore ad. Mollit consequat short loin ea. Enim ut quis, in kevin ham hock sirloin.<cite><a href="№">Clyde Nguyen</a></cite><small>Manager</small></p></blockquote>
            <p>Boudin jerky spare ribs short ribs corned beef, capicola doner shoulder sausage landjaeger swine salami. Flank beef tenderloin, turducken beef ribs jowl biltong drumstick prosciutto sausage turkey kevin shankle swine tri-tip. Beef ribs frankfurter ground round ham hock tail hamburger, sausage doner meatball. Strip steak short loin spare ribs andouille chicken. Rump landjaeger venison leberkas salami turkey jerky brisket bresaola.</p>
            <div class="bullet-list">
              <ul>
                <li><span>Aliquip jerky chuck brisket filet mignon</span></li>
                <li><span>Capicola ea sausage nostrud</span></li>
                <li><span>Boudin et mollit, ut pig andouille beef</span></li>
                <li><span>Shoulder consectetur exercitation aliqua</span></li>
              </ul>
            </div>
            <p>Beef ribs cupidatat incididunt laborum, pork chop short ribs qui labore ullamco drumstick voluptate occaecat ham ad beef. Id pastrami in non pork loin. Corned beef eiusmod tongue, laboris quis cow shank excepteur tail deserunt dolore.</p>
            <p>Excepteur ball tip picanha shank. Spare ribs corned beef doner shank, reprehenderit beef cupidatat minim capicola ipsum bresaola hamburger irure.</p>
            <p>Rump kevin beef, salami jerky eiusmod reprehenderit labore ipsum et short loin. Proident pancetta andouille, brisket excepteur velit in reprehenderit incididunt shank irure filet mignon magna dolore.</p>
            <p>Est occaecat ground round culpa tenderloin aliquip, ut velit ea. Ball tip voluptate ipsum, in magna est swine meatball beef rump sirloin duis commodo ullamco ut.</p>
            <p>Ex deserunt non elit venison pork loin nulla. Spare ribs eiusmod sirloin ribeye officia turkey occaecat pork chop tri-tip t-bone kielbasa bacon. Laboris chicken nostrud swine aliquip duis, spare ribs occaecat id. Boudin spare ribs voluptate ea aute deserunt.</p>
            <div class="after-content">
              <div class="cat-links">
                <a href="#0">Petrolium Engineering</a>
              </div>
              <div class="tags-links">
                <a href="#0">Commitment</a>, <a href="#0">Expertise</a>, <a href="#0">Factory</a>, <a href="#0">Gas</a>, <a href="#0">Group</a>, <a href="#0">Oil</a>, <a href="">Power</a>, <a href="#0">Pump</a>, <a href="#0">Refinery</a>, <a href="#0">Thermal</a>
              </div>
            </div>
          </div>
          <div class="comment-form">
            <div class="comment-form-wrap">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" placeholder="Full Name" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="email" placeholder="Email Address" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" placeholder="Website" class="form-control">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Comment"></textarea>
                  </div>
                </div>
                <div class="btn-block text-center">
                  <button class="oildrop-btn" type="submit">Send Comment</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Post Navigation -->
          <nav class="navigation post-navigation" rolle="navigation">
            <div class="nav-links">
              <div class="nav-previous">
                <a href="#0">
                  <span class="meta-nav">Previous</span>
                  <span class="post-title">Status</span>
                </a>
              </div>
              <div class="nav-next">
                <a href="#0">
                  <span class="meta-nav">Previous</span>
                  <span class="post-title">Status</span>
                </a>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="sidebar">
            <aside>
              <h2 class="title">Search</h2>
              <div class="form-group">
                <label><input type="search" class="form-control" placeholder="Search..."></label>
                <input type="submit" class="search-submit" value="Search">
              </div>
            </aside>
            <aside>
              <h2 class="title">Featured Tags</h2>
              <div class="tagcloud">
                <a href="#0" class="tag-cloud-link">Commitment</a>
                <a href="#0" class="tag-cloud-link">Expertise</a>
                <a href="#0" class="tag-cloud-link">Factory</a>
                <a href="#0" class="tag-cloud-link">Gas</a>
                <a href="#0" class="tag-cloud-link">Group</a>
                <a href="#0" class="tag-cloud-link">Oil</a>
                <a href="#0" class="tag-cloud-link">Power</a>
                <a href="#0" class="tag-cloud-link">Pump</a>
                <a href="#0" class="tag-cloud-link">Refinery</a>
                <a href="#0" class="tag-cloud-link">Thermal</a>
              </div>
            </aside>
            <aside>
              <h2 class="title">Recent post</h2>
              <ul class="recent-posts">
                <li>
                  <a class="recent-posts-title" href="#0">Short loin shankle meatball tongue spare ribs rump</a>
                  <span class="recent-posts-meta">
                    <span class="recent-posts-date">26.01.2017</span>
                  </span>
                </li>
                <li>
                  <a class="recent-posts-title" href="#0">Short loin shankle meatball tongue spare ribs rump</a>
                  <span class="recent-posts-meta">
                    <span class="recent-posts-date">26.01.2017</span>
                  </span>
                </li>
                <li>
                  <a class="recent-posts-title" href="#0">Short loin shankle meatball tongue spare ribs rump</a>
                  <span class="recent-posts-meta">
                    <span class="recent-posts-date">26.01.2017</span>
                  </span>
                </li>
              </ul>
            </aside>
            <aside>
              <h2 class="title">Categories</h2>
              <ul class="Categories-links">
                <li>
                  <a href="#0">Chemicals &amp; Refining</a>
                </li>
                <li>
                  <a href="#0">International Trade</a>
                </li>
                <li>
                  <a href="#0">Petrolium Engineering</a>
                </li>
                <li>
                  <a href="#0">Projects &amp; Missions</a>
                </li>
              </ul>
            </aside>
            <aside>
              <h2 class="title">Recent Comments</h2>
              <ul class="recentcomments">
                <li>
                  <div class="comment-head">
                    <span class="comment-author-link"><a href="#0">A WordPress Commenter</a>,</span>
                    <span class="comment-datetime">December 12th, 2016</span>
                    <a class="comment-title" href="#0">Landjaeger do sed, brisket proident culpa ipsum</a>
                  </div>
                </li>
                <li>
                  <div class="comment-head">
                    <span class="comment-author-link"><a href="#0">Maria, </a>,</span>
                    <span class="comment-datetime">June 7th, 2013</span>
                    <a class="comment-title" href="#0">Woo Ninja</a>
                  </div>
                </li>
                <li>
                  <div class="comment-head">
                    <span class="comment-author-link"><a href="#0">Maria, </a>,</span>
                    <span class="comment-datetime">June 7th, 2013</span>
                    <a class="comment-title" href="#0">Premium Quality</a>
                  </div>
                </li>
              </ul>
            </aside>
            <aside>
              <h2 class="title">Social news</h2>
              <ul class="social-icons">
                <li>
                  <a href="#0"><i class="fa fa-google"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fa fa-twitter"></i></a>
                </li>
              </ul>
            </aside>
            <aside>
              <h2 class="title">Subscribe newsletter</h2>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="E-Mail Address">
              </div>
            </aside>
          </div>
        </div>
      </div> 
    </div>
  </section>
  
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="copyright-social">
        <ul class="social-navigation">
          <li>
            <a href="#0"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#0"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#0">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#0">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="copyright-text col-sm-12">&copy; 2017 oildrop. Created With by <a href="#0">MWTemplates</a></div>
    </div>
  </footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/sticky.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>