<!DOCTYPE html>
<html  dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="description" content="oildrop">
<meta name="keywords" content="oildrop">
<meta name="author" content="oildrop">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Nexus Water</title>
<link rel="shortcut icon" href="" type="image/x-icon">
<!-- External CSS -->
<link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/styles.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" media="all">

<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
</head>

<body>

   

  <!-- Header -->
  <header class="oildrop-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-8">
          <a href="index.html" class="oildrop-brand">
            <img src="assets/images/logo.png" alt="Oil Drop">
          </a>
        </div>
        <div class="col-xl-9 col-4">
          <div class="header-right">
            <div class="header-wrap">              
              <a href="javascript:void(0);" class="oildrop-toggle d-xl-none"><span></span></a>
              <nav class="oildrop-navigation">
                <a href="index.html" class="oildrop-logo d-xl-none">
                  <img src="assets/images/logo.png" alt="Oil Drop">
                </a>
                <a href="#0" class="close-icon d-xl-none">
                  <span></span>
                </a>
                <ul>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Services">Services</span></span></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="sub-menu">
                      <li>
                        <a href="Asset Management For Water.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Asset Management for Water">Asset Management for Water</span></span></a>
                      </li>
                      <li>
                        <a href="Hydraulic and Hydrological Modelling.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Hydraulic and Hydrological Modelling">Hydraulic and Hydrological Modelling</span></span></a>
                      </li>
                      <li>
                        <a href="Water Supply And Distribution.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Water Supply and Distribution">Water Supply and Distribution</span></span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="portfolio.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Projects">Projects</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="About Us">About Us</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Our Blog">Our Blog</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Contact">Contact</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Get A Quote">Get A Quote</span></span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="blog-banner">
    <div class="container">
      <div class="owl-carousel">
        <div class="item" style="background-image: url(assets/images/blog-slider1.jpg);">
          <div class="blog-banner-content">
            <div class="table-wrap">
              <div class="align-wrap">
                <div class="banner-title">
                  <a href="#0">Short loin shankle meatball tongue spare ribs rump</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url(assets/images/blog-slider1.jpg);">
          <div class="blog-banner-content">
            <div class="table-wrap">
              <div class="align-wrap">
                <div class="banner-title">
                  <a href="#0">Short loin shankle meatball tongue spare ribs rump</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url(assets/images/blog-slider1.jpg);">
          <div class="blog-banner-content">
            <div class="table-wrap">
              <div class="align-wrap">
                <div class="banner-title">
                  <a href="#0">Short loin shankle meatball tongue spare ribs rump</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

   <!-- Our Blog -->
  <section class="our-blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="recent-post">
            <a href="#0" class="recent-post-media">
              <span class="overlay video"></span>
              <span class="recent-posts-likes"><i class="recent-posts__icon fa fa-heart-o"></i>0</span>
              <img src="assets/images/blog1.jpg" alt="Blog">
            </a>
            <div class="recent-posts-content">
              <div class="recent-posts-inner">
                <span class="recent-posts-category">
                  <a href="#0">Petrolium Engineering</a>
                </span>
                <a href="#0" class="recent-posts-title">Short loin shankle meatball tongue spare ribs rump</a>
                <span class="recent-posts-description">Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail</span>                
              </div>
              <span class="recent-meta">
                <span class="recet-post-date">26.01.2017</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="recent-post">
            <a href="#0" class="recent-post-media">
              <span class="overlay video"></span>
              <span class="recent-posts-likes"><i class="recent-posts__icon fa fa-heart-o"></i>0</span>
              <img src="assets/images/blog1.jpg" alt="Blog">
            </a>
            <div class="recent-posts-content">
              <div class="recent-posts-inner">
                <span class="recent-posts-category">
                  <a href="#0">Petrolium Engineering</a>
                </span>
                <a href="#0" class="recent-posts-title">Short loin shankle meatball tongue spare ribs rump</a>
                <span class="recent-posts-description">Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail</span>                
              </div>
              <span class="recent-meta">
                <span class="recet-post-date">26.01.2017</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="recent-post">
            <a href="#0" class="recent-post-media">
              <span class="overlay extrnal"></span>
              <span class="recent-posts-likes"><i class="recent-posts__icon fa fa-heart-o"></i>1</span>
              <img src="assets/images/blog1.jpg" alt="Blog">
            </a>
            <div class="recent-posts-content">
              <div class="recent-posts-inner">
                <span class="recent-posts-category">
                  <a href="#0">CHEMICALS &amp REFINING</a>
                </span>
                <a href="#0" class="recent-posts-title">Short loin shankle meatball tongue spare ribs rump</a>
                <span class="recent-posts-description">Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail</span>                
              </div>
              <span class="recent-meta">
                <span class="recet-post-date">26.01.2017</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="recent-post">
            <a href="#0" class="recent-post-media">
              <span class="overlay extrnal"></span>
              <span class="recent-posts-likes"><i class="recent-posts__icon fa fa-heart-o"></i>2</span>
              <img src="assets/images/blog1.jpg" alt="Blog">
            </a>
            <div class="recent-posts-content">
              <div class="recent-posts-inner">
                <span class="recent-posts-category">
                  <a href="#0">INTERNATIONAL TRADE</a>
                </span>
                <a href="#0" class="recent-posts-title">Short loin shankle meatball tongue spare ribs rump</a>
                <span class="recent-posts-description">Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail</span>                
              </div>
              <span class="recent-meta">
                <span class="recet-post-date">26.01.2017</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Blog -->
  <section class="blogs default-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="post-media">
            <iframe src="https://www.youtube.com/embed/29g8yYMgE3c?feature=oembed&amp;modestbranding=0&amp;showinfo=0&amp;rel=0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-aspectratio="0.75"></iframe>
          </div>
          <div class="blog-content">
            <div class="page-title-wrapper">
              <div class="before-title">
                <span class="posted-on">
                  <a href="#0">
                    <time class="entry-date published updated" datetime="2016-12-23T12:18:45+00:00">December 23, 2016</time>
                  </a>
                </span>
                <a href="#0">International Trade</a>
              </div>
            </div>
            <h3 class="blog-title"><a href="#0">Short loin shankle meatball tongue spare ribs rump</a></h3>
            <p>Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail pork chop pork loin, shankle pancetta hock pork. Pork chop turkey hamburger prosciutto, strip steak kielbasa drumstick ground round flank cupim. Meatloaf pancetta turducken picanha spare. Chicken salami excepteur chuck, voluptate</p>
            <a href="#0" class="content-more-link">Read More</a>
          </div>
          <div class="blog-content p-0">
            <div class="row no-gutters align-items-center">
              <div class="col-md-6">
                <div class="post-media">
                  <a href="#0">
                    <img src="assets/images/post-1.jpg" alt="Post">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post-inner">
                  <div class="page-title-wrapper">
                    <div class="page-title-wrapper">
                      <div class="before-title">
                        <span class="posted-on">
                          <a href="#0">
                            <time class="entry-date published updated" datetime="2016-12-23T12:18:45+00:00">December 23, 2016</time>
                          </a>
                        </span>
                        <a href="#0">International Trade</a>
                      </div>
                    </div>
                    <h3 class="blog-title"><a href="#0">Short loin shankle meatball tongue spare ribs rump</a></h3>
                    <p>Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail</p>
                    <a href="#0" class="content-more-link">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-content p-0">
            <div class="row no-gutters align-items-center">
              <div class="col-md-6">
                <div class="post-media">
                  <a href="#0">
                    <img src="assets/images/post-2.jpg" alt="Post">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post-inner">
                  <div class="page-title-wrapper">
                    <div class="page-title-wrapper">
                      <div class="before-title">
                        <span class="posted-on">
                          <a href="#0">
                            <time class="entry-date published updated" datetime="2016-12-23T12:18:45+00:00">December 23, 2016</time>
                          </a>
                        </span>
                        <a href="#0">International Trade</a>
                      </div>
                    </div>
                    <h3 class="blog-title"><a href="#0">Short loin shankle meatball tongue spare ribs rump</a></h3>
                    <p>Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail</p>
                    <a href="#0" class="content-more-link">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-content p-0">
            <div class="entry-content" style="background-image: url('assets/images/post-bg.jpg');">
              <div class="entry-content-inner">
                <div class="author-avatar">
                  <img alt="" src="assets/images/avatar.jpeg" class="avatar" height="122" width="122">
                </div>
                <span class="post-content-staus">Status</span>
                <a href="#0" class="post-time" rel="bookmark"><time class="entry-date published updated" datetime="2016-12-23T12:14:00+00:00">December 23, 2016</time></a>
                <div class="post-content">Bacon meatloaf cow rump strip steak alcatra t-bone tongue corned beef ground</div>
              </div>
            </div>
          </div>
          <div class="blog-content">
            <div class="post-inner p-0">
              <div class="page-title-wrapper">
                <div class="page-title-wrapper">
                  <div class="before-title">
                    <span class="posted-on">
                      <a href="#0">
                        <time class="entry-date published updated" datetime="2016-12-23T12:18:45+00:00">December 23, 2016</time>
                      </a>
                    </span>
                    <a href="#0">International Trade</a>
                  </div>
                </div>
                <h3 class="blog-title"><a href="#0">Short loin shankle meatball tongue spare ribs rump</a></h3>
                <p>Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail</p>
                <a href="#0" class="content-more-link">Read More</a>
              </div>
            </div>
          </div>
          <div class="blog-content p-0">
            <div class="row no-gutters align-items-center">
              <div class="col-md-6">
                <div class="post-media">
                  <a href="#0">
                    <img src="assets/images/post-1.jpg" alt="Post">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post-inner">
                  <div class="page-title-wrapper">
                    <div class="page-title-wrapper">
                      <div class="before-title">
                        <span class="posted-on">
                          <a href="#0">
                            <time class="entry-date published updated" datetime="2016-12-23T12:18:45+00:00">December 23, 2016</time>
                          </a>
                        </span>
                        <a href="#0">International Trade</a>
                      </div>
                    </div>
                    <h3 class="blog-title"><a href="#0">Short loin shankle meatball tongue spare ribs rump</a></h3>
                    <p>Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail</p>
                    <a href="#0" class="content-more-link">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-content">
            <div class="post-inner p-0">
              <div class="page-title-wrapper">
                <div class="page-title-wrapper">
                  <div class="before-title">
                    <span class="posted-on">
                      <a href="#0">
                        <time class="entry-date published updated" datetime="2016-12-23T12:18:45+00:00">December 23, 2016</time>
                      </a>
                    </span>
                    <a href="#0">International Trade</a>
                  </div>
                </div>
                <h3 class="blog-title"><a href="#0">Short loin shankle meatball tongue spare ribs rump</a></h3>
                <p>Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail</p>
                <a href="#0" class="content-more-link">Read More</a>
              </div>
            </div>
          </div>
          <div class="blog-content p-0">
            <div class="row no-gutters align-items-center">
              <div class="col-md-6">
                <div class="post-media">
                  <a href="#0">
                    <img src="assets/images/post-1.jpg" alt="Post">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post-inner">
                  <div class="page-title-wrapper">
                    <div class="page-title-wrapper">
                      <div class="before-title">
                        <span class="posted-on">
                          <a href="#0">
                            <time class="entry-date published updated" datetime="2016-12-23T12:18:45+00:00">December 23, 2016</time>
                          </a>
                        </span>
                        <a href="#0">International Trade</a>
                      </div>
                    </div>
                    <h3 class="blog-title"><a href="#0">Short loin shankle meatball tongue spare ribs rump</a></h3>
                    <p>Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail</p>
                    <a href="#0" class="content-more-link">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-content">
            <div class="post-inner p-0">
              <div class="page-title-wrapper">
                <div class="page-title-wrapper">
                  <div class="before-title">
                    <span class="posted-on">
                      <a href="#0">
                        <time class="entry-date published updated" datetime="2016-12-23T12:18:45+00:00">December 23, 2016</time>
                      </a>
                    </span>
                    <a href="#0">International Trade</a>
                  </div>
                </div>
                <h3 class="blog-title"><a href="#0">Short loin shankle meatball tongue spare ribs rump</a></h3>
                <p>Porchetta flank bacon tenderloin chuck boudin shankle turducken. Corned beef cow pork kevin jowl andouill strip steak, ground round short ribs brisket swine cupim. Tail</p>
                <a href="#0" class="content-more-link">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="sidebar">
            <aside>
              <h2 class="title">Search</h2>
              <div class="form-group">
                <label><input type="search" class="form-control" placeholder="Search..."></label>
                <input type="submit" class="search-submit" value="Search">
              </div>
            </aside>
            <aside>
              <h2 class="title">Featured Tags</h2>
              <div class="tagcloud">
                <a href="#0" class="tag-cloud-link">Commitment</a>
                <a href="#0" class="tag-cloud-link">Expertise</a>
                <a href="#0" class="tag-cloud-link">Factory</a>
                <a href="#0" class="tag-cloud-link">Gas</a>
                <a href="#0" class="tag-cloud-link">Group</a>
                <a href="#0" class="tag-cloud-link">Oil</a>
                <a href="#0" class="tag-cloud-link">Power</a>
                <a href="#0" class="tag-cloud-link">Pump</a>
                <a href="#0" class="tag-cloud-link">Refinery</a>
                <a href="#0" class="tag-cloud-link">Thermal</a>
              </div>
            </aside>
            <aside>
              <h2 class="title">Recent post</h2>
              <ul class="recent-posts">
                <li>
                  <a class="recent-posts-title" href="#0">Short loin shankle meatball tongue spare ribs rump</a>
                  <span class="recent-posts-meta">
                    <span class="recent-posts-date">26.01.2017</span>
                  </span>
                </li>
                <li>
                  <a class="recent-posts-title" href="#0">Short loin shankle meatball tongue spare ribs rump</a>
                  <span class="recent-posts-meta">
                    <span class="recent-posts-date">26.01.2017</span>
                  </span>
                </li>
                <li>
                  <a class="recent-posts-title" href="#0">Short loin shankle meatball tongue spare ribs rump</a>
                  <span class="recent-posts-meta">
                    <span class="recent-posts-date">26.01.2017</span>
                  </span>
                </li>
              </ul>
            </aside>
            <aside>
              <h2 class="title">Categories</h2>
              <ul class="Categories-links">
                <li>
                  <a href="#0">Chemicals &amp; Refining</a>
                </li>
                <li>
                  <a href="#0">International Trade</a>
                </li>
                <li>
                  <a href="#0">Petrolium Engineering</a>
                </li>
                <li>
                  <a href="#0">Projects &amp; Missions</a>
                </li>
              </ul>
            </aside>
            <aside>
              <h2 class="title">Recent Comments</h2>
              <ul class="recentcomments">
                <li>
                  <div class="comment-head">
                    <span class="comment-author-link"><a href="#0">A WordPress Commenter</a>,</span>
                    <span class="comment-datetime">December 12th, 2016</span>
                    <a class="comment-title" href="#0">Landjaeger do sed, brisket proident culpa ipsum</a>
                  </div>
                </li>
                <li>
                  <div class="comment-head">
                    <span class="comment-author-link"><a href="#0">Maria, </a>,</span>
                    <span class="comment-datetime">June 7th, 2013</span>
                    <a class="comment-title" href="#0">Woo Ninja</a>
                  </div>
                </li>
                <li>
                  <div class="comment-head">
                    <span class="comment-author-link"><a href="#0">Maria, </a>,</span>
                    <span class="comment-datetime">June 7th, 2013</span>
                    <a class="comment-title" href="#0">Premium Quality</a>
                  </div>
                </li>
              </ul>
            </aside>
            <aside>
              <h2 class="title">Social news</h2>
              <ul class="social-icons">
                <li>
                  <a href="#0"><i class="fa fa-google"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fa fa-twitter"></i></a>
                </li>
              </ul>
            </aside>
            <aside>
              <h2 class="title">Subscribe newsletter</h2>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="E-Mail Address">
              </div>
            </aside>
          </div>
        </div>
      </div> 
    </div>
  </section>
  
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="copyright-social">
        <ul class="social-navigation">
          <li>
            <a href="#0"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#0"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#0">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#0">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="copyright-text col-sm-12">&copy; 2017 oildrop. Created With by <a href="#0">MWTemplates</a></div>
    </div>
  </footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/sticky.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>