<!DOCTYPE html>
<html  dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="description" content="oildrop">
<meta name="keywords" content="oildrop">
<meta name="author" content="oildrop">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Nexus Waters</title>
<!-- <link rel="shortcut icon" href="" type="image/x-icon"> -->
<link rel="icon" type="images/png" href="assets/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />
<!-- External CSS -->
<link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/styles.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" media="all">

<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
</head>

<body>

   

  <!-- Header -->
  <header class="oildrop-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-8">
          <a href="index.html" class="oildrop-brand">
            <img src="assets/images/logo.png" alt="Oil Drop">
          </a>
        </div>
        <div class="col-xl-9 col-4">
          <div class="header-right">
            <div class="header-wrap">              
              <a href="javascript:void(0);" class="oildrop-toggle d-xl-none"><span></span></a>
              <nav class="oildrop-navigation">
                <a href="index.html" class="oildrop-logo d-xl-none">
                  <img src="assets/images/logo.png" alt="Oil Drop">
                </a>
                <a href="#0" class="close-icon d-xl-none">
                  <span></span>
                </a>
                <ul>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Services">Services</span></span></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="sub-menu">
                      <li>
                        <a href="Asset Management For Water.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Asset Management for Water">Asset Management for Water</span></span></a>
                      </li>
                      <li>
                        <a href="Hydraulic and Hydrological Modelling.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Hydraulic and Hydrological Modelling">Hydraulic and Hydrological Modelling</span></span></a>
                      </li>
                      <li>
                        <a href="Water Supply And Distribution.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Water Supply and Distribution">Water Supply and Distribution</span></span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="portfolio.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Projects">Projects</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="about.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="About Us">About Us</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Our Blog">Our Blog</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Contact">Contact</span></span></a>
                  </li>
                   
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Title -->
  <section class="page-title">
    <div class="container">
      <h2>Mahwa District</h2>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="default-section portfolio">
    <div class="container">
      <div class="portfolio-block">
        <div class="portfolio-slider">
          <div class="owl-carousel">
            <div class="item">
              <div class="img-block">
                <img src="assets/images/project/mahwa.jpeg">
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-content">
          <p>Mahwa is a town located in the Dausa district of Rajasthan, India. It is the census town in Mahwa Mandal of Dausa district.<br/> Recently in 2021, a work order was issued by the executive engineer PHED division Mahwa district related to Survey and designing of various PWS schemes. The order was accepted by Nexus Waters.<br/> The survey was conducted in 14 villages of the town namely Hansilpur, Norangwada, Vishala, Berkheda, Kherli Gadli, Kohra Mulla, Khonchpuri, Sinduki, Palanheda, Samleti, Dubbi, Lanka, Moroli, and Heengwa. The work was completed with full operational efficiency within stipulated time along with the well-optimized budgeting plan.<br/>
            <br/> The major components of the consultancy work done by the us includes,</p>
          <h5>Preparation of the various plans and reports.</h5>
          <div class="bullet-list">
            <ul>
              <li><span>Survey by electronic total stations/DGPS of villages</span></li>
              <li><span>Preparing village index plan indicating roads, streets, surface and width of roads, streets along important places such as panchyati bhawan, hospitals, schools, etc.</span></li>
              <li><span>Temple water supply structures</span></li>
            </ul>
          </div>

          <h5>Deploying technical softwares for designing and drawing.</h5>
          <div class="bullet-list">
            <ul>
              <li><span>Hydraulic design of distribution network in Loop/water Gem/EPANET.</span></li>
              <li><span>Design of distribution system using Water Gems.</span></li>
              <li><span>GA Drawings of valve chambers, ESR, GLSR, CWR, etc.</span></li>
              <li><span>Preparation of auto CAD drawing with hydraulic design output details such as pipe no, pipe length, pressure at node, etc.</span></li>
            </ul>
          </div>

          <h5>Budgeting and printing of reports.</h5>
          <div class="bullet-list">
            <ul>
              <li><span>Estimation of various components based on prevailing BSRs.</span></li>
              <li><span>Submissions of report prepared in auto CAD</span></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="copyright-social">
        <ul class="social-navigation">
          <li>
                <a href="https://www.facebook.com/Nexus-Waters-106320088391615"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/nexus-waters"><i class="fa fa-linkedin"></i></a>
              </li>
        </ul>
      </div>
      <div class="copyright-text col-sm-12">&copy; 2021 Nexus Waters.</div>
    </div>
  </footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/sticky.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>