<!DOCTYPE html>
<html  dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="description" content="oildrop">
<meta name="keywords" content="oildrop">
<meta name="author" content="oildrop">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Oildrop</title>
<link rel="shortcut icon" href="" type="image/x-icon">
<!-- External CSS -->
<link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/styles.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" media="all">

<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
</head>

<body>

   

  <!-- Header -->
  <header class="oildrop-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-8">
          <a href="#0" class="oildrop-brand">
            <img src="assets/images/logo.png" alt="Oil Drop">
          </a>
        </div>
        <div class="col-xl-9 col-4">
          <div class="header-right">
            <div class="header-wrap">              
              <a href="javascript:void(0);" class="oildrop-toggle d-xl-none"><span></span></a>
              <nav class="oildrop-navigation">
                <a href="#0" class="oildrop-logo d-xl-none">
                  <img src="assets/images/logo.png" alt="Oil Drop">
                </a>
                <a href="#0" class="close-icon d-xl-none">
                  <span></span>
                </a>
                <ul>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Main Page">Main Page</span></span></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="sub-menu">
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Header 2">Header 2</span></span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Pages">Pages</span></span></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="sub-menu">
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Typography">Typography</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Pricing Tables">Pricing Tables</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Shop">Shop</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Team">Team</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Team Mamber">Team Mamber</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="FAQ">FAQ</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Shortcode">Shortcode</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="404">404</span></span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Services">Services</span></span></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="sub-menu">
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Thermal Power">Thermal Power</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Oil Refinery">Oil Refinery</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Power Station">Power Station</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Oil Platfrom">Oil Platfrom</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Gas Flaring">Gas Flaring</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Oil Pump">Oil Pump</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Factory">Factory</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Eco Refinery">Eco Refinery</span></span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Projects">Projects</span></span></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="sub-menu">
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Portfolio Regular">Portfolio Regular</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Portfolio Fullwidth">Portfolio Fullwidth</span></span></a>
                      </li>
                      <li>
                        <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Portfolio Extended">Portfolio Extended</span></span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="About Us">About Us</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Our Blog">Our Blog</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Contact">Contact</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Get A Quote">Get A Quote</span></span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Title -->
  <section class="page-title">
    <div class="container">
      <h2>Malpura Village</h2>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="default-section portfolio">
    <div class="container">
      <div class="portfolio-block">
        <div class="portfolio-slider">
          <div class="owl-carousel">
            <div class="item">
              <div class="img-block">
                <img src="assets/images/portfolio1.jpg">
              </div>
            </div>
            <div class="item">
              <div class="img-block">
                <img src="assets/images/portfolio2.jpg">
              </div>
            </div>
            <div class="item">
              <div class="img-block">
                <img src="assets/images/portfolio3.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-content">
          <p>Malpura is the tehsil in the Tonk district of Rajasthan, India. The total geographical area of the town is around 1490 km^2 with a total population of around 2,50,000 people. Traced back in 2020, the town issued a work order to prepare the project report for urban water supply scheme.<br/> To achieve the satisfactory results within the stipulated time, the team at Nexus waters worked enthusiastically in an organized way to prepare the detailed project report for the Urban Water Supply Scheme of Malpura town, District Tonk, Rajasthan.<br/> The work was completed with full operational efficiency within stipulated time along with the well-optimized budgeting plan.<br/> The major components of the consultancy work done by the us includes,</p>

          <h5>Designing of the proposed plan.</h5>
          <div class="bullet-list">
            <ul>
              <li><span>Formation of the water distribution zones of the entire town</span></li>
              <li><span>Design of zonal population and zonal water demand of entire town</span></li>
              <li><span>Design of the capacity of reservoirs</span></li>
              <li><span>Preparation of map of distribution zone</span></li>
            </ul>
          </div>

          <h5>Deploying technical softwares for designing and drawing.</h5>
          <div class="bullet-list">
            <ul>
              <li><span>Taking levels from satellite and plotting on map</span></li>
              <li><span>Design of distribution system using computer software</span></li>
              <li><span>Design of economical size of rising mains</span></li>
              <li><span>Design of electro-mechanical installations in pump house</span></li>
              <li><span> Preparing drawings on distribution zone</span></li>
            </ul>
          </div>

          <h5>Budgeting and printing of reports.</h5>
          <div class="bullet-list">
            <ul>
              <li><span>Detailed estimates on BSR rates</span></li>
              <li><span>Detailed costing of the project</span></li>
              <li><span>Preparation of tender document</span></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="copyright-social">
        <ul class="social-navigation">
          <li>
            <a href="#0"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#0"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#0">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#0">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="copyright-text col-sm-12">&copy; 2017 OilDrop. Created With by <a href="#0">MWTemplates</a></div>
    </div>
  </footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/sticky.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>