<!DOCTYPE html>
<html  dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="description" content="oildrop">
<meta name="keywords" content="oildrop">
<meta name="author" content="oildrop">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Nexus Waters</title>
<link rel="shortcut icon" href="" type="image/x-icon">
<!-- External CSS -->
<link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/styles.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" media="all">

<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
</head>

<body>

   

  <!-- Header -->
  <header class="oildrop-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-8">
          <a href="index.html" class="oildrop-brand">
            <img src="assets/images/logo.png" alt="Oil Drop">
          </a>
        </div>
        <div class="col-xl-9 col-4">
          <div class="header-right">
            <div class="header-wrap">              
              <a href="javascript:void(0);" class="oildrop-toggle d-xl-none"><span></span></a>
              <nav class="oildrop-navigation">
                <a href="index.html" class="oildrop-logo d-xl-none">
                  <img src="assets/images/logo.png" alt="Oil Drop">
                </a>
                <a href="#0" class="close-icon d-xl-none">
                  <span></span>
                </a>
                <ul>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Services">Services</span></span></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="sub-menu">
                      <li>
                        <a href="Asset Management For Water.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Asset Management for Water">Asset Management for Water</span></span></a>
                      </li>
                      <li>
                        <a href="Hydraulic and Hydrological Modelling.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Hydraulic and Hydrological Modelling">Hydraulic and Hydrological Modelling</span></span></a>
                      </li>
                      <li>
                        <a href="Water Supply And Distribution.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Water Supply and Distribution">Water Supply and Distribution</span></span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="portfolio.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="Projects">Projects</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="about.html"><span class="menu-text"><span class="menu-text-wrap" data-hover="About Us">About Us</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Our Blog">Our Blog</span></span></a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#0"><span class="menu-text"><span class="menu-text-wrap" data-hover="Contact">Contact</span></span></a>
                  </li>
                   
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Title -->
  <section class="page-title">
    <div class="container">
      <h2>UIT SPM Nagar Bharatpur</h2>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="default-section portfolio">
    <div class="container">
      <div class="portfolio-block">
        <div class="portfolio-slider">
          <div class="owl-carousel">
            <div class="item">
              <div class="img-block">
                <img src="assets/images/project/bharatpur.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-content">
          <p>Bharatpur is a city in the state of Rajasthan, India. With the total population of 2,500,000 people there was a need to design the water supply scheme of some of the major areas of the city.<br/>Since oildrops serves as the consultancy provider for management of water resources, designing of the plan and preparation of the reports has been the utmost important work for the company.<br/> Traced back to the recent past i.e. year 2017, oildrop joined hands with the district of Bharatpur in Rajasthan and took over the work of designing the water supply scheme of SPM Nagar & Transport Nagar UIT Colony, Bharatpur.<br/> The work was completed with full operational efficiency within stipulated time along with the well-optimized budgeting plan.<br/> The major components of the consultancy work done by the us includes,</p>
          

          <h5>Designing of the proposed plan.</h5>
          <div class="bullet-list">
            <ul>
              <li><span>Design of population and demand</span></li>
              <li><span>Design of capacity of various components like OHSR, CWR</span></li>
              <li><span>Design of duty condition of pump sets</span></li>
              
            </ul>
          </div>

          <h5>Deploying technical softwares for designing and drawing.</h5>
          <div class="bullet-list">
            <ul>
              <li><span>Design of economical size of rising main</span></li>
              <li><span>Design of distribution system using software</span></li>
              <li><span>Preparation of distribution pipeline map</span></li>
              <li><span>Campus GA drawings</span></li>
              <li><span>Drawings of thrust block, valve chambers</span></li>
              <li><span>Other drawings as per the scope of work</span></li>
            </ul>
          </div>

          <h5>Budgeting and printing of reports.</h5>
          <div class="bullet-list">
            <ul>
              <li><span>Estimation of various components based on prevailing BSRs.</span></li>
              <li><span>Submission of detailed project report and DPR</span></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="copyright-social">
        <ul class="social-navigation">
          <li>
                <a href="https://www.facebook.com/Nexus-Waters-106320088391615"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/nexus-waters"><i class="fa fa-linkedin"></i></a>
              </li>
        </ul>
      </div>
      <div class="copyright-text col-sm-12">&copy; 2017 Nexus Waters.</div>
    </div>
  </footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/sticky.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>