@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
h1,h2,h3,h4,h5{
	font-family: 'Squada One', cursive;
	font-weight: 500;
	text-transform: uppercase;
}
body{
	padding: 4rem;
	background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}
.upload-form-box{
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
	padding: 2rem 4rem;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
body img.logo{
	width: 320px;
}
form{
	width: 100%;
}
form .form-row{
	width: 100%;
	margin: 20px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
form .video-upload-field{
	width: 100%;
	height: 10rem;
	border-radius: 5px;
	border: 2px dashed #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
form .video-upload-field p{
	margin: 6px 0px;
	font-size: 20px;
}
form .video-upload-field input{
	border: none;
	outline: none;
	padding: 0px auto;
}
/*form .video-upload-field input.video-details{
	display: none;
}*/
form .video-upload-field input.video-details.active{
	display: block;
}
form .video-upload-field span{
	margin-bottom: 10px;
}
form .form-row input, form .form-row select{
	padding: 10px 10px;
	border-radius: 3px;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.4);
}
form .form-row .label-box{
	width: 15%;
}
form .form-row .input-box{
	width: 70%;
}
form .form-row .input-box input, form .form-row select{
	width: 100%;
}
form .form-row button{
	width: 85%;
	padding: 10px 0px;
	background: rgba(37,145,251,0.98);
	outline: none;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
}

@media only screen and (max-width: 600px){
	body{
		padding: 2rem;
	}
	.upload-form-box{
		padding: 1rem;
	}
	form .form-row{
		flex-flow: column;
	}
	form .form-row .label-box{
		width: 100%;
	}
	form .form-row .input-box{
		width: 100%;
	}
}